lab12/tansform.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kraje">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="kraj" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kodKraju">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="PL"/>
                    <xs:enumeration value="DE"/>
                    <xs:enumeration value="US"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="kraj" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>